// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Personal preferences here.
html, body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: rgba(0,0,0,0);

  overflow-x: hidden;

  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0;
}
